#home-page{

    .container{
        width: 60%;
        margin: auto;
    }

    h1{
        font-size: 2rem;
        font-weight: 400;
    }

    h2{
        font-weight: 400;
        line-height: $thin-text-space;
    }

    ul{
        display: $flex; 

        li{
            margin-left: $small-margin;
            font-size: $xsmall-text;
            list-style-type: none;
            a{
                color: gray;                
            } 
        
        }
    }    

    header{
        background-color: $bg-header-footer;

        #actions{
            @include flex-horizontal-end;
            padding: $padding-xsmall 0;
            ul{
                i{
                    color: $turquoise-text;
                }
            }
        }

        #navbar{
            padding: $padding-small 0;
            ul{
                align-items: center;
                li{
                    color: gray;
                    margin-right: $normal-margin;
                    margin-left: 0;
                    a{
                        color: white;
                        font-size: 0.9rem;
                    }
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }

    #jumbotron{
        background-image: url('../img/bg-painter-home.jpg');
        background-size: cover;
        padding: 80px 0;

        .title{
            width: 50%;
            img{
                width: 250px;
                margin-bottom: $small-margin;
            }
            >div{
                margin: $normal-margin 0;
            }
            .announcement{
                p{
                    color: $shock-text;
                    line-height: $thin-text-space;
                    font-size: 1.1rem;
                }    
            }
            button{
                @include button;
                margin-right: $normal-margin;
                border: 2px solid black;
            }
            button.black{
                background-color: black;
                color: white;
            }
            button.transparent{
                background-color: transparent;
            }
        }
    }

    main{
        padding-top: $padding-large;
        background-color: #E8E8E8;
        h1{
            text-align: center;
            margin-bottom: $normal-margin;
        }
        .img-container{
            width: 100%;
            >img{
                width: 100%;
            }
        }

        #possibilities{
            .container{
                @include flex-horizontal-space-between;
                margin-bottom: $large-margin;
                .card{
                    width: calc((100% - 60px) / 3);
                    background-color: white;
                    
                    .description{
                        padding: $padding-small;
                        p{
                            margin: $small-margin 0;
                        }
                        span i{
                            color: $turquoise-text;
                            margin-right: 5px;
                        }
                        a{
                            color: $turquoise-text;
                        }
                    }
                    
                    
                }
            }
        }
        #points{
            margin-top: $xlarge-margin;
            .row{
                display: flex;
                color: white;
                height: 280px;
                >div{
                    width:50%;
                }
                h1{
                    text-align: left;
                }
                .description{
                    padding:$padding-xlarge $padding-large;
                    p{
                        font-size: 1.1rem;
                        margin: $small-margin 0;
                        line-height: $thin-text-space;
                    }
                    button{
                        @include button;
                    }
                }
                .description.purple{
                    background-color: #3C1567;
                }
                .description.gray{
                    background-color: #3C3C3C;
                }
                .description.blue{
                    background-color: #0072BC;
                }
                .first.img-container{
                    background-image: url('../img/wacom-painter.jpg');
                    img{
                        width: 80%;
                    }
                }
                .img-container.last{
                    img{
                        height: 280px;
                        object-fit: cover;
                    }
                }
                
            }

        }
    }


}