// colori
$bg-header-footer: black;
$text-on-blackbg: white;
$turquoise-text: #009CFF;
$shock-text: #C70EB8;

// spazi
$space-xsmall: 10px;
$space-small : 20px;
$space-normal: 30px;
$space-large: 40px;
$space-xlarge: 50px;
$space-xxlarge: 80px;

//spazi testo
$thin-text-space: 30px;
$large-text-space: 60px;

//testo
$xsmall-text: 0.8rem;

//flex
$flex: flex;

@mixin flex-horizontal-end{
    display: flex;
    justify-content: flex-end;
}

@mixin flex-horizontal-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-vertical{
    display: flex;
    flex-direction: column;
}
 
//buttons
@mixin button{
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

//testo
@mixin bigtext{
    font-size: 2rem;
    font-weight: 400;
}